{% extends 'app/base.html' %}
{% load static %}

{% block title %} AlUla {% endblock%}

{% block content %} 

    <div>
      <h2>Discover AlUla</h2>
      <img src="{% static 'img/Alula.jpg' %}">
    </div>
    
{% endblock %}

  {% block subContent %} 

    <p>
      AlUla is quickly becoming a premier travel destination, from its tranquil desert beauty to historic monuments of ancient civilisations to heart-racing adventure opportunities. Read on to discover why a trip to AlUla is one of the most unique travel experiences you will find around the globe.
    
      ALULA OLD TOWN VILLAGE
      A crossroads of civilisations and oasis city on incense-trading routes, people have inhabited AlUla for thousands of years. By preserving its rich heritage and continuing to flourish as a rural tourist destination, it has been awarded Best Tourism Village by the United Nations World Tourism Organization. Today, AlUla Old Town Village encompasses its ancient Old Town, the lush Oasis and AlJadidah Arts District.
      
      ABOUT ALULA
      Take a journey to both the ancient and recent past. Uncover preserved tombs, sandstone outcrops, historic dwellings and monuments, both natural and man-made, that hold 200,000 years of largely unexplored human history.
    </p>

{% endblock %}