{% extends 'app/base.html' %}
{% load static %}

{% block title %} Mecca {% endblock%}

{% block content %} 

    <div>
        <h2>Discover Mecca</h2>
        <img src="{% static 'img/Mecca.png' %}">
      </div>

{% endblock %}

{% block subContent %} 
      <p>
        Mecca, The City that Embraces the Qiblah of Muslims
        In the past, it was called Bakkah, Umm Al-Qura, and Al-Balad Al-Amin, and its mountains witnessed the first revelation.  Its visitors stand in amazement in front of the honorable Kaaba, the qiblah of Muslims from all over the world, in the middle of Masjid Al-Haram with its majestic view, surrounded by thousands of worshipers all the time. 
        Makkah welcomes millions of Muslims who go to Hajj or Umrah.  It is the purest spot on Earth, and the holiest Islamic destination in the world, and it includes historical destinations that reveal immortal stories that left their mark in Islamic history.  
        It was also an important commercial station for mobile trade caravans between the north and south, and an area rich in literary forums, and seasonal markets that highlighted its cultural and commercial status. Makkah receives guests from all over the world but entry to the Haram area is for Muslims only.
    </p>

{% endblock %}