{% extends "visit_saudi/base.html" %}
{% load static %}
{% block title %} Abha {% endblock %}
{% block city_back %} {% static 'images/abha_back.jpeg' %} {% endblock %}
{% block city_title %} Abha: A Tapestry of Nature's Delight{% endblock %} 
{% block city_about %} Welcome to Abha, a city nestled amidst the verdant mountains of Saudi Arabia, where nature unfolds its vibrant tapestry of delights. As you set foot in this enchanting paradise, you'll be captivated by the stunning landscapes that surround you. Immerse yourself in the lush greenery of Asir National Park, where cascading waterfalls, picturesque valleys, and blooming flora create a haven for nature lovers. Embark on a breathtaking cable car ride up the magnificent Jabal Sawda, the highest peak in Saudi Arabia, offering panoramic vistas that will leave you in awe. Discover the traditional charm of Habala Village, perched on the mountainside, with its unique architecture and rich cultural heritage. Whether you seek tranquility, adventure, or a rejuvenating escape, Abha beckons you to immerse yourself in its natural wonders, promising an unforgettable journey into the heart of beauty. {% endblock %} 
{% block city_img1 %} {% static 'images/abha1.jpeg' %} {% endblock %} 
{% block city_img2 %} {% static 'images/abha2.jpeg' %} {% endblock %} 
{% block city_img3 %} {% static 'images/abha3.jpeg' %} {% endblock %} 
{% block city_img4 %} {% static 'images/abha4.jpeg' %} {% endblock %} 
