{% extends "visit_saudi/base.html" %}
{% load static %}

{% block title %} Mekkah {% endblock %}
{% block city_back %} {% static 'images/mekkah_back.webp' %} {% endblock %}
{% block city_title %} Makkah: The Spiritual Epicenter of Humanity {% endblock %} 
{% block city_about %} Welcome to Makkah, the holiest city in Islam and the spiritual epicenter of humanity. A pilgrimage to this sacred destination is a lifelong dream for millions, as it is home to the magnificent Masjid al-Haram, where the majestic Kaaba stands as a symbol of unity and devotion. Feel the energy and reverence as you join fellow pilgrims in the timeless rituals of Tawaf and Sa'i, embarking on a transformative spiritual journey. Beyond its religious significance, Makkah offers a vibrant atmosphere where ancient traditions harmonize with modern amenities, with bustling markets, delectable cuisine, and a sense of deep-rooted history at every corner. Embark on a quest of the soul, enveloped by the sacredness of Makkah, and allow its profound spirituality to touch your heart and illuminate your path. {% endblock %} 
{% block city_img1 %} {% static 'images/mekkah1.jpeg' %} {% endblock %} 
{% block city_img2 %} {% static 'images/mekkah2.webp' %} {% endblock %} 
{% block city_img3 %} {% static 'images/mekkah3.jpg' %} {% endblock %} 
{% block city_img4 %} {% static 'images/mekkah4.webp' %} {% endblock %} 
