{% extends "visit_saudi/base.html" %}
{% load static %}

{% block title %} Riyadh {% endblock %}
{% block city_back %} {% static 'images/riyadh_back.jpeg' %} {% endblock %}
{% block city_title %} Riyadh: Where Tradition and Innovation Converge {% endblock %} 
{% block city_about %} Step into the vibrant city of Riyadh, Saudi Arabia, and immerse yourself in a captivating fusion of tradition and innovation. With its rich cultural heritage and dynamic modernity, Riyadh offers a truly unique and unforgettable experience. Explore historical gems like the iconic Masmak Fortress and the enchanting Diriyah Historical District, where the echoes of the past blend harmoniously with the present. Witness the city's rapid development through its stunning modern architecture, exemplified by towering skyscrapers and world-class shopping destinations. Indulge in a diverse culinary scene that combines authentic Arabian flavors with global influences. Whether you seek cultural immersion, business opportunities, or simply a captivating adventure, Riyadh is the city where tradition and innovation converge, offering endless possibilities for exploration and inspiration. {% endblock %} 
{% block city_img1 %} {% static 'images/riy1.jpeg' %} {% endblock %} 
{% block city_img2 %} {% static 'images/riy2.jpeg' %} {% endblock %} 
{% block city_img3 %} {% static 'images/riy3.jpeg' %} {% endblock %} 
{% block city_img4 %} {% static 'images/riy4.jpeg' %} {% endblock %} 
