{% extends "visit_saudi/base.html" %}
{% load static %}
{% block title %} AlUla {% endblock %}
{% block city_back %} {% static 'images/ula_back.jpeg' %} {% endblock %}
{% block city_title %} Alula: Where History and Nature Converge in Timeless Beauty {% endblock %} 
{% block city_about %} Step into the enchanting realm of Alula, Saudi Arabia, where history and nature intertwine in a symphony of timeless beauty. Delve into the ancient wonders of Madain Saleh, with its awe-inspiring rock-cut tombs and ancient inscriptions that whisper tales of civilizations long gone. Lose yourself in the surreal landscapes of Elephant Rock and Harrat Uwayrid, where nature showcases its artistic prowess. Alula invites you to embark on a journey of discovery, where the echoes of the past and the breathtaking splendor of nature converge in a truly unforgettable experience. {% endblock %} 
{% block city_img1 %} {% static 'images/ula1.webp' %} {% endblock %} 
{% block city_img2 %} {% static 'images/ula2.jpeg' %} {% endblock %} 
{% block city_img3 %} {% static 'images/ula3.jpeg' %} {% endblock %} 
{% block city_img4 %} {% static 'images/ula4.jpeg' %} {% endblock %} 
