{% extends  'cities_app/base2.html' %}
<!-- Page Name -->
{% block title %} Alula City {% endblock%}
<!-- background image -->
{% block bgImage%} https://www.experiencealula.com/getmedia/d71973d6-6a58-4ceb-b830-7e59c3b2c355/AsharResort-AsharTentedResort-Promo-781x441?width=781&height=441&ext=.jpg {% endblock %}
<!-- Main Phrase -->
{% block catchyPhrase %}Where heritage and luxury{% endblock %}
<!-- Sub Phrase -->
{% block details %}<span style="color: #00b6d6;">AlUla</span> is home to Saudi Arabia’s first UNESCO World Heritage Site, deep in the desert in the northwestern region of the country, you might still be able to play out your fantasy of being an intrepid archaeologist for a day.{% endblock %}
<!-- Places Pictures -->
{% block bgPlace1%}https://www.experiencealula.com/getmedia/bf08fe57-c1b5-4b29-943f-8a2742c5f753/781x441_0000_Azimuth_Aerial-01_1?width=781&height=441&ext=.jpg{%endblock%}
{% block bgPlace2%}https://pbs.twimg.com/media/FJ2gGQ0XEAAwGPC?format=jpg&name=4096x4096{%endblock%}
{% block bgPlace3%}https://www.experiencealula.com/getmedia/18f641eb-a966-42ca-9e2c-46093d558bf5/Daimumah-Sustainability-Promo-781x441?width=781&height=441&ext=.jpg{%endblock%}
{% block bgPlace4%}https://www.arabnews.com/sites/default/files/userimages/2050466/muhannad_shono_on_this_sacred_day_2022_mabiti_alula_the_oasis_reborn_art_residency_1_-_photo_by_artur_weber_-_courtesy_of_the_artist_and_the_royal_commission_for_alula_rcu.jpg{%endblock%}
<!-- Places Names -->
{%block place1%}Azimuth Festival{% endblock %}
{%block place2%}Elephant Rock{% endblock %}
{%block place3%}Daimumah Park{% endblock %}
{%block place4%}Alula Oasis{% endblock %}