{% extends  'cities_app/base1.html' %}
<!-- Page Name -->
{% block title %} Tourism Website {% endblock %}
<!-- background image -->
{% block bgImage %} /static/images/mainPage.jpg {% endblock %}
{% block head %} 

{% endblock %}
{% block content %}
    <!-- Main Phrase -->
    <h1>Discover The Country Of Cultures</h1>
    <div class="vid">
        <div class="phrase"></div>
    <p>Take a look of what you can visit in<span style="color: #00b6d6;"> Saudi Arabia</span></p>
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/kDqTPT1SQbU" title="Welcome to Saudi Tourism Saudi Arabia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{% endblock %}