{% extends  'cities_app/base2.html' %}
<!-- Page Name -->
{% block title %} Mekkah City {% endblock%}
<!-- background image -->
{% block bgImage%} /static/images/mekkahCity.jpg {% endblock %}
<!-- Main Phrase -->
{% block catchyPhrase %}The City that Embraces the Qiblah of Muslims{% endblock %}
<!-- Sub Phrase -->
{% block details %}<span style="color: #00b6d6;">Mekkah</span> welcomes millions of Muslims who go to Hajj or Umrah.  It is the purest spot on Earth, and the holiest Islamic destination in the world, and it includes historical destinations that reveal immortal stories that left their mark in Islamic history.{% endblock %}
<!-- Places Pictures -->
{% block bgPlace1%}/static/images/grandMosque.jpg{%endblock%}
{% block bgPlace2%}/static/images/clockTower.jpg{%endblock%}
{% block bgPlace3%}/static/images/thowrMountain.jpg{%endblock%}
{% block bgPlace4%}/static/images/bayahMosque.jpg{%endblock%}
<!-- Places Names -->
{%block place1%}The Grand Mosque{% endblock %}
{%block place2%}ClockTower Museum{% endblock %}
{%block place3%}Thowr Mountain{% endblock %}
{%block place4%}Bay'ah Mosque{% endblock %}