{% extends  'cities_app/base2.html' %}
<!-- Page Name -->
{% block title %} Riyadh City {% endblock%}
<!-- background image -->
{% block bgImage%} https://c1.wallpaperflare.com/preview/826/385/226/architecture-digital-city-riyadh-futuristic-building-digital.jpg {% endblock %}
<!-- Main Phrase -->
{% block catchyPhrase %}Live the Modern Life<br>to its Fullest{% endblock %}
<!-- Sub Phrase -->
{% block details %}In the ever-growing and flourishing city of<span style="color: #00b6d6;"> Riyadh</span>, you will discover the birthplace of the Kingdom of Saudi Arabia, along with its historical treasures hidden in the old palaces that witnessed the founding of the kingdom.{% endblock %}
<!-- Places Pictures -->
{% block bgPlace1%}https://ar.timeoutriyadh.com/cloud/artimeoutriyadh/2022/10/31/Souq-Alzal-lkjh.jpg{%endblock%}
{% block bgPlace2%}https://pbs.twimg.com/media/FV2JfLkXwAEYRZl?format=jpg&name=large{%endblock%}
{% block bgPlace3%}https://ar.timeoutriyadh.com/cloud/artimeoutriyadh/2023/03/22/%D9%85%D8%B7%D9%84-%D8%A7%D9%84%D8%A8%D8%AC%D9%8A%D8%B1%D9%8A.jpg{%endblock%}
{% block bgPlace4%}https://vid.alarabiya.net/images/2023/05/02/47375763-9739-453c-a0ca-ac0c468bc79e/47375763-9739-453c-a0ca-ac0c468bc79e_16x9_1200x676.jpg?width=801&format=jpg{%endblock%}
<!-- Places Names -->
{%block place1%}Souk Al-Zal{% endblock %}
{%block place2%}KAFD city{% endblock %}
{%block place3%}DIRIYAH{% endblock %}
{%block place4%}VIA Riyadh{% endblock %}