{% extends 'cities_app/base2.html' %}
<!-- Page Name -->
{% block title %} Riyadh City {% endblock%}
<!-- background image -->
{% block bgImage%} /static/images/riyadhCity.jpg{% endblock %}
<!-- Main Phrase -->
{% block catchyPhrase %}Live the Modern Life<br>to its Fullest{% endblock %}
<!-- Sub Phrase -->
{% block details %}In the ever-growing and flourishing city of<span style="color: #00b6d6;"> Riyadh</span>, you will discover the birthplace of the Kingdom of Saudi Arabia, along with its historical treasures hidden in the old palaces that witnessed the founding of the kingdom.{% endblock %}
<!-- Places Pictures -->
{% block bgPlace1%}/static/images/soukAlZal.jpg{%endblock%}
{% block bgPlace2%}/static/images/kafdCity.jpg{%endblock%}
{% block bgPlace3%}/static/images/diriyah.jpg{%endblock%}
{% block bgPlace4%}/static/images/viaRiyadh.webp{%endblock%}
<!-- Places Names -->
{%block place1%}Souk Al-Zal{% endblock %}
{%block place2%}KAFD city{% endblock %}
{%block place3%}DIRIYAH{% endblock %}
{%block place4%}VIA Riyadh{% endblock %}