{% extends  'cities_app/base2.html' %}
<!-- Page Name -->
{% block title %} Hail City {% endblock%}
<!-- background image -->
{% block bgImage%} /static/images/hailCity.jpg {% endblock %}
<!-- Main Phrase -->
{% block catchyPhrase %}The City of Hail surrounded and full of history{% endblock %}
<!-- Sub Phrase -->
{% block details %}Nestled between Mount Shammer to the north and Mount Salma to the south, the city of <span style="color: #00b6d6;">Hail</span> was once the capital of all the Arabian Desert and home to legends like Hatim Al Tai, the Arabian poet whose altruism earned him spots in stories like “One Thousand and One Nights” (also known as “Arabian Nights”).{% endblock %}
<!-- Places Pictures -->
{% block bgPlace1%}/static/images/qishlaCastle.jpg{%endblock%}
{% block bgPlace2%}/static/images/discovery.jpg{%endblock%}
{% block bgPlace3%}/static/images/hailSouk.jpg{%endblock%}
{% block bgPlace4%}/static/images/samraaView.png{%endblock%}
<!-- Places Names -->
{%block place1%}Al-Qishla Castle{% endblock %}
{%block place2%}Discovery{% endblock %}
{%block place3%}Hai Souk{% endblock %}
{%block place4%}Al-Samraa View{% endblock %}