{% extends  'tourism/base.html' %}
{% load static %}

{% block content %}
    <h1>Abha - Explore the Mountains and Culture of the South</h1>
    <p>Abha is the capital of the Asir region, located in the southwest of Saudi Arabia. The city is known for its cool climate, stunning mountainous landscapes, and rich cultural heritage. Explore the beautiful parks and gardens, visit the traditional souks. Abha is also a hub for adventure seekers, with activities such as hiking, rock climbing, and paragliding. The city is home to the famous Abha Palace, a stunning palace complex that offers a glimpse into Saudi Arabia's rich history and culture. With its unique blend of nature and culture, Abha is a destination that is not to be missed.</p>
{% endblock %}


{%block car-content%}
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left" style="color:white;"></i>
        <div class="carousel">
            <img src="{%static 'images/Riyadh-slider.png'%}">
            <img src="{%static 'images/Riyadh-slider2.png'%}">
            <img src="{%static 'images/Riyadh-slider3.png'%}">
            <img src="{%static 'images/Riyadh-slider4.png'%}">
            <img src="{%static 'images/Riyadh-slider5.png'%}">
            <img src="{%static 'images/Riyadh-slider6.png'%}">
        </div>
        <i id="right" class="fa-solid fa-angle-right" style="color:white;"></i>
    </div>
{% endblock %}


{%block city_container%}
    <h1>Activities</h1>
    <p>Visitors of Riyadh Season will enjoy a wonderful time in 15 different entertainment destinations all on the land of the capital, Riyadh. There is a variety of international events, musical concerts, fancy restaurants and many more.</p>
    <div class="row">
        <div class="city_col">
            <img src="{%static 'images/abha-act1.png'%}">
            <h3>Hiking</h3>
            <p>Explore the stunning mountainous landscapes of Abha on foot with a guided hiking tour. From the lush green valleys to the rugged peaks, there is so much to discover in this beautiful region.</p>
        </div>

        <div class="city_col">
            <img src="{%static 'images/abha-act2.png'%}">
            <h3>Heritage Villages</h3>
            <p>Abha is home to several heritage villages that offer a glimpse into the region's rich cultural heritage. Visit the Al-Muftaha Village, a traditional village that has been restored to its former glory, with beautiful old houses and narrow alleys. The Al-Habala Village, located in the mountains, is another must-visit, with its unique architecture and stunning views. The Al-Soudah Heritage Village is also worth exploring, with its traditional buildings and exhibits showcasing the region's history and culture.</p>
        </div>

        <div class="city_col">
            <img src="{%static 'images/abha-act3.png'%}">
            <h3>Paragliding</h3>
            <p>Abha is a hub for adventure seekers, and paragliding is one of the most popular activities in the region. Soar above the stunning mountainous landscapes and take in the breathtaking views of this beautiful region.</p>
        </div>
    </div>
{% endblock %}
