{% extends  'tourism/base.html' %}
{% load static %}

{% block content %}
    <h1>Alula - Immerse Yourself in History and Nature</h1>
    <p>Step back in time and experience the ancient wonders of Alula, a city that has been inhabited for more than 7,000 years. Located in the northwest of Saudi Arabia, Alula offers a unique blend of history, culture, and natural beauty. Explore the magnificent tombs of the Lihyanite kings, stroll through the old town's narrow alleys, and marvel at the stunning rock formations that have been shaped by wind and time. Alula is also a hub for adventure seekers, with activities such as hiking, rock climbing, and paragliding. The crystal-clear waters of the Red Sea offer a wealth of marine life and coral reefs, making it a prime destination for diving and snorkeling. With its rich heritage and natural wonders, Alula is the perfect place to immerse yourself in Saudi Arabia's history and nature.</p>
{% endblock %}


{%block car-content%}
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left" style="color:white;"></i>
        <div class="carousel">
            <img src="{%static 'images/alula-slider.png'%}">
            <img src="{%static 'images/alula-slider2.png'%}">
            <img src="{%static 'images/alula-slider3.png'%}">
            <img src="{%static 'images/alula-slider4.png'%}">
            <img src="{%static 'images/alula-slider5.png'%}">
            <img src="{%static 'images/alula-slider6.png'%}">
            <img src="{%static 'images/alula-slider7.png'%}">
            <img src="{%static 'images/alula-slider8.png'%}">
        </div>
        <i id="right" class="fa-solid fa-angle-right" style="color:white;"></i>
    </div>
{% endblock %}


{%block city_container%}
    <h1>Activities</h1>
    <p>Alula is a paradise for adventure seekers and culture enthusiasts alike. With a wide range of activities and events, there is something for everyone to enjoy. From exploring ancient ruins to soaring above the stunning landscapes in a hot air balloon, Alula has it all.</p>
    <div class="row">
        <div class="city_col">
            <img src="{%static 'images/alula-act1.png'%}">
            <h3>Hiking</h3>
            <p>Explore the stunning landscapes of Alula on foot with a guided hiking tour. From the towering rock formations to the lush green valleys, there is so much to discover in this beautiful region.</p>
        </div>

        <div class="city_col">
            <img src="{%static 'images/alula-act2.png'%}">
            <h3>Diving and Snorkeling</h3>
            <p>Discover the underwater wonders of the Red Sea with a diving or snorkeling excursion in Alula. The crystal-clear waters are home to a diverse range of marine life and coral reefs, making it a prime destination for underwater exploration.</p>
        </div>

        <div class="city_col">
            <img src="{%static 'images/alula-act3.png'%}">
            <h3>Hot Air Balloon Ride</h3>
            <p>Experience the stunning landscapes of Alula from a new perspective with a hot air balloon ride. Soar above the rock formations and valleys as you take in the breathtaking views of this ancient city.</p>
        </div>
    </div>
{% endblock %}

