{% extends  'tourism/base.html' %}
{% load static %}

{% block content %}
<h1>Jeddah - A Gateway to the Red Sea</h1>
<p>Located on the western coast of Saudi Arabia, Jeddah is a vibrant and cosmopolitan city that offers a unique blend of old-world charm and modern amenities. Known as the gateway to the Red Sea, Jeddah is a hub for water-based activities such as diving, snorkeling, and fishing. The city is also home to a rich cultural heritage, with historic sites such as the Al-Balad district, a UNESCO World Heritage Site, and the Jeddah Corniche, a popular waterfront promenade. Jeddah is also a foodie's paradise, with a wide range of international and local cuisines to tantalize your taste buds. From the bustling souks to the modern malls, Jeddah is a city that has something for everyone.</p>
{% endblock %}


{%block car-content%}
<div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left" style="color:white;"></i>
    <div class="carousel">
        <img src="{%static 'images/Riyadh-slider.png'%}">
        <img src="{%static 'images/Riyadh-slider2.png'%}">
        <img src="{%static 'images/Riyadh-slider3.png'%}">
        <img src="{%static 'images/Riyadh-slider4.png'%}">
        <img src="{%static 'images/Riyadh-slider5.png'%}">
        <img src="{%static 'images/Riyadh-slider6.png'%}">
    </div>
    <i id="right" class="fa-solid fa-angle-right" style="color:white;"></i>
</div>
{% endblock %}


{%block city_container%}
    <h1>Activities</h1>
    <p>Jeddah is a city that offers a wide range of activities and experiences for visitors to enjoy. From exploring historic sites to indulging in water-based activities, there is never a dull moment in Jeddah.</p>
    <div class="row">
        <div class="city_col">
            <img src="{%static 'images/alula-act2.png'%}" style="height: 150px; background-size: cover;">
            <h3>Snorkeling and Diving</h3>
            <p>Explore the stunning underwater world of the Red Sea with a snorkeling or diving excursion in Jeddah. The crystal-clear waters are home to a diverse range of marine life and coral reefs, making it a prime destination for underwater exploration.</p>
        </div>

        <div class="city_col">
            <img src="{%static 'images/jeddah-act2.png'%}"style="height: 150px; background-size: cover;">
            <h3>Historic Sites</h3>
            <p>Discover Jeddah's rich cultural heritage with a visit to its manyhistoric sites. Explore the Al-Balad district, a UNESCO World Heritage Site, and wander through its narrow streets lined with beautiful old houses. Visit the Jeddah Corniche, a popular waterfront promenade that offers stunning views of the Red Sea and the city's skyline.</p>
        </div>

        <div class="city_col">
            <img src="{%static 'images/jeddah-act3.png'%}">
            <h3>Fishing</h3>
            <p>Jeddah is a popular destination for fishing enthusiasts, with a wide range of fishing charters and tours available. Whether you're a seasoned angler or a beginner, Jeddah offers a variety of fishing experiences for all levels.</p>
        </div>
    </div>
{% endblock %}


