{% extends 'Guide/home.html' %}
{% load static %}

{% block title %} Saudi Arabia: Damam {% endblock %}
{% block BGimage %} /static/images/pexels-usef-ateyah-14148654.jpg{% endblock %}
{% block phrase %} Welcome to Damam saudi's crown jewel in the eastren front {% endblock %}
{% block cont %} Damam offfers the range of enjoying urban city to a beach to a desert {% endblock %}
{% block cont2 %} it offers tons of activities from visiting the beach, or the oldtowns, or mixing with the residents. And here are some pictures: {% endblock %}

{% block img1 %} <img class = "pics1" src="https://i.pinimg.com/originals/91/a6/c3/91a6c32ba173ea379fd99d9f3a6547a9.jpg"> Dammam in 1980* {% endblock %}
{% block img2 %} <img class = "pics2" src="https://media-cdn.tripadvisor.com/media/photo-s/15/d7/40/de/photo4jpg.jpg"> OldTown {% endblock %}
{% block img13 %} <img class = "pics3" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/7f/be/78/for-some-reasons-while.jpg?w=1200&h=900&s=1"> Reef {% endblock %}
{% block img4 %} <img class = "pics4" src="https://media.istockphoto.com/id/1162594434/photo/beautiful-sunrise-view-at-dammam-al-khobar-corniche-saudi-arabia.jpg?s=612x612&w=0&k=20&c=e-9--7ferlTiW0esnGIqZim1nOkwD15xLJ9cilFTbRQ="> Beach {% endblock %}
{% block footerp %} <p style="color: white; font-family: 'Roboto', sans-serif; font-size: medium;" > Experince Al-Dammam: </p>{% endblock %} 
{% block footervid %} <iframe width="560" height="315" src="https://www.youtube.com/embed/sw-i-GUU4Bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>{% endblock %}

