{% extends 'Guide/home.html' %}
{% load static %}

{% block title %} Saudi Arabia: Riyadh {% endblock %}
{% block BGimage %} /static/images/IMG_8272-2-1.webp {% endblock %}

{% block phrase %} Welcome to Riyadh saudi's Capital and crown jewel {% endblock %}
{% block cont %} Riyadh offers tons of activities, places to visit and see from reigon's heritage to modernized enviroments {% endblock %}
{% block cont2 %} from visiting the Bujairi, to Boulevard world, and the famous Edge of the world. And here are some pictures: {% endblock %}

{% block img1 %} <img class = "pics1" src="https://static8.depositphotos.com/1003109/831/i/600/depositphotos_8317742-stock-photo-al-mamlaka-towetr.jpg"> Down Town {% endblock %}
{% block img2 %} <img class = "pics2" src="https://www.timeoutriyadh.com/cloud/timeoutriyadh/2022/10/21/Riyadh-City-Boulevard.jpg"> Boulevard {% endblock %}
{% block img13 %} <img class = "pics3" src="https://www.visitsaudi.com/content/dam/saudi-tourism/media/riyadh-articles/edge-of-the-world.jpg"> Edge of the world {% endblock %}
{% block img4 %} <img class = "pics4" src="https://welcomesaudi.com/uploads/0000/1/2023/01/31/bujairi-terrace-diriyah-restaurants.jpg"> Bujairi {% endblock %}
{% block footerp %} <p style="color: white; font-family: 'Roboto', sans-serif; font-size: medium;" > Experince Al-Riyadh: </p>{% endblock %} 
{% block footervid %} <iframe width="560" height="315" src="https://www.youtube.com/embed/99sruDMY_4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>{% endblock %}



