{% extends  'main_app/base.html' %}
{% load static %}

{% block welcome %}
<p>Wlcome to Saudi Arabia tourism website as the world's safest, most dynamic, and diverse, year-round destinations</p>
{% endblock %}
{% block pictures %}
<img class = "hero" src="{% static 'images/Flag_of_Saudi_Arabia.svg.webp' %}"/>
{% endblock %}
{% block tour %}
<p>Tourism destinations like no other, Saudi is enticing travelers to beat the heat this summer and discover the unique, diverse, gateway distinations of the country</p>
{% endblock %}
