{% extends  'main_app/home.html' %}
{% load static %}

{% block title %} Jeddah Page{% endblock %}

{% block content %}
    <h1>Jeddah - A seaside city filled with beauty</h1>
    <p> When you visit Jeddah, you will have the opportunity to witness a rich heritage celebrated by UNESCO.
        From “Historical Jeddah” to the antique designs of balconies, stone walkways and ancient sidewalks,
        this destination unearths secrets that have inspired artists, writers and visitors alike for hundreds of years. 
        Here, you will have a chance to see magnificent sunsets shimmering off the divine Red Sea shores as 
        well as having magical diving experiences featuring colorful coral reefs.
        Whether on land or under the sea, you won’t soon forget Jeddah’s many year-round splendors. </p>

    <a href="" class="btn">Video</a>
    <iframe width="966" height="411" src="https://www.youtube.com/embed/wD6Vip6zvsw" title="Jeddah - Saudi Arabia - Welcome to Arabia - Directors Cut" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{% endblock %}
{% block slide1 %}/static/images/jeddah-night.jpeg{% endblock %}"
{% block slide2 %}/static/images/jeddah-2.jpeg{% endblock %}"
{% block slide3 %}/static/images/jeddah-3.jpeg{% endblock %}"