{% extends  'main_app/home.html' %}
{% load static %}

{% block title %} Tiaf Page{% endblock %}

{% block content %}
    <h1>The Mountainous City and its Rural Nature</h1>
    <p> Like any mountainous city, Taif is embedded in clouds. It offers a tranquil setting and pleasure characterized 
        by magnificence and purity. Taif, the friend of the clouds, characterized by the cool weather, 
        is located on the eastern slopes of the Sarawat Mountains and about 1,700 m above sea level. 
        It increases in height as you head towards its southern rural areas, reaching a height of 2,400 m, 
        where you find its rich farms and lively traditions.
        Here we recommend the most amazing events that can be organized among its mountains and fields. 
        In the guide, we include its most popular and beautiful areas. 
        Taif is famous for producing citrus fruits such as grapes, berries, pomegranates and figs.  
        It is also famous for scented roses, which are produced in more than 700 farms. In addition, 
        the city is filled with historical monuments, markets, popular squares, unique gardens and cultural places. 
        With a higher look towards its towering mountains, you see its luxurious cafes and hotels on the edges of the 
        heights appearing like a historical city at night.</p>

        <iframe width="930" height="523" src="https://www.youtube.com/embed/ZW0g57KRc_Q" title="فيديو سينمائي موسم الطائف ( سوق عكاظ ) | Cinematic video Taif season (Souqk okaz )" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}


{% block slide1 %}/static/images/taif-1.jpeg{% endblock %}"
{% block slide2 %}/static/images/taif-2.jpeg{% endblock %}"
{% block slide3 %}/static/images/taif-3.jpg{% endblock %}"
