{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title> {%block title%}{%endblock%}</title>
    </head>
    <link 
    <body>
        <header>
            <h1>Tourister Discover of Beauty of Saudi Arabia!</h1>
        </header>

        <main>
            <section id= "home">
                <div class ="hero_image"></div>
                <h2>welcome to Tourister!
                    <img src="OIP.jpg"
                    alt="Tourism in Saudi Arabia">
                     </div>
                    <p>
                        saudi arabia ia land of rich culture , history, and  natural beauty.
                         from the pristine beaches to the majestic mountains, there is something for evreyone here.
                         whether you are a history buff or an adventure seeker Tourister has got you covered.</p>
                         <h3>Explore our cities :</h3>
                         <ul>
                            <li> <a herf="Al-ahsa.html">Al-ahsa</a></li>
                            <li> <a herf="Riyadh.html">Riyadh</a></li>
                            <li> <a herf="Al-ola.html">Al-aola</a></li>
                            <li> <a herf="Jeddah.html">Jeddah</a></li>
                         </ul>
                         <section>
                            <!--city pages-->
                            <section id="Al-ahasa">
                            <!--Al-ahsa page content-->
                            <section id="Riyadh">
                            <!--Riyadh page content-->
                            <section id="Al-aola">
                            <!--Alola page content-->
                            <section id="Jeddah">
                            <!--Jeddah page content-->
                            <footer>
                                <p>&copy:22023 Tourister . All rights reseverd </p>
                            </footer>
                        </main>
                     </body>
                     </html>
