{%extends' wlcome/base.html'%}
{%load static1%}
{%block title%} Riyadh {%endblock%}
{%block contene%}
<div id class="container-fluid p-0">
    <div id ="header-carousel"
    class="carousel slide" data-ride="carousel">
    <div class ="carousel-inner">
        <div class="carousel-item active">
         <img class="w-100" src="{%static 'pop.jpg' %}" alt="imge">
         <div class ="carousel-captions d-flex-column align-items-center">
            <div class="p-3"
            style="max-width:800px;">
            <h4 class="text-white text-upprcase mb-md3">Tours&Travel<h/4>
             <h1 class= "display-3 text-white mb-md-4">let's Discover Riyadh City Together<h1>
                <a herf=""
                class="btn=primary=py-md-3px-md-mt-3">Discover</a>
             </div>
             </div>
             </div>
             <div class="carousel-item">
             <img class="w-90>"
             src="{%static 'ldr.jpg%}" alt="image">
             div class="carousel-captions d flex flex=column align-items-center">
             <div class="p-3"
             style="max-width:800px;">
            <h4 class="text-white text-uppercase mb-md-3">Tours&Travel</h4>
                <h1 class=""display-3 text-white mb-md-4>Discover Amazing Places With us</h1>
                <a herf =""
                class="btn btn- primary py-md-3px-md-5 mt-2">Discover</a>
                </div>
                </div>
                </div>
                </div>
                <a class="carousel-control-prev"herf="#header-carousel"
                data-slide="prev">
                <div class="btn btn-"dark style="width:40px; height:40px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                    </div>
                </a class ="carousel-control-next"#header-carousel-data-slide="next">
                <div  class ="btn btn-dark"
                style=" width: 45px; height : 45px;">
                <span class = "carousel-control-next-icon mb-n2"></span>
            </div>
            </a>
            </div>
        {%endblock%}

        {%block content0 %}

        {%end block%}

        {%block subcontent%}
        <div class=" container-fluid py-5">
            <div class="container py-5"></div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="positions-relative">
                                <img class="img-fluid w-100"src="{%OIPo.jpg%}" alt="">
                                <div class="blog- data">
                                    <h6 class="font-weight-blod mb- n1">02</h6>
                                    <small class="text-white text- uppercase">Al-asa</small>
                                    </div>
                                    </div>
                                    </div>
                                    </div class= "bg white mb-3" style= "padding: 35px;">
                                    <div class="d-flex mb-3">
                                        <a class="text-primary text-uppercase text-decortions-non" herf="">Saudi Arabia</a>
                                        <span class="text-primary px-2"></span>
                                        <a class="text-primary text-uppercase text-decortions-none" herf=>"Riyadh"</a>

                                        <div>
                                           <h2 class="mb3"> 
                                            Riyadh is the capital city of Saudi Arabia and is located in the central region of the country.
                                             It is the largest city in Saudi Arabia and has a population of over 7 million people. The city is known for its modern architecture, luxurious shopping malls, and high-end restaurants.
                                              Riyadh is also home to many historical sites such as the Masmak Fortress, which played a significant role in the unification of Saudi Arabia. 
                                              The city has a desert climate with hot summers and mild winters.
                                               It is also an important economic hub with many international businesses having their headquarters in Riyadh.
                                                The King Khalid International Airport serves as a major gateway to the city, connecting it to other parts of the world.
                                             </p>
                                           </h2>
                                                    {%endblock%}
                                                    {%blocked subcontent0%}
                                                    {%endblock%}