.footer{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    color: #777;
}

.links2{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-evenly;
    text-align: left;
    margin: 0 13px;
    padding: 50px 34px;
}
.links2 a{
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
.links2 a:hover{
    color: #016B3A;
}

.link2{
    display: flex;
    flex-direction: column;
}

.fa{
    color: #f44336;
}

#my{
    text-decoration: none;
    color: #777;
    padding-bottom: 10px;
}
#my:hover{
    color: #016B3A;
}