{% extends 'tourism_app\home.html' %}

{% load static %}

{% block title %} AlUla {% endblock %}
{% block video %}
{% static 'videos/AlUla.mp4' %}
{% endblock %}

{% block videoContent %}
<h2 style="background-color: rgb(42, 42, 42);" >Al ula<br> city</h2>
{% endblock videoContent %}

{% block city4 %}style="background-color: rgb(104, 64, 211); color: aliceblue;"{% endblock  %}
{% block home %}{% endblock home %}



{% block leftContent %}
<h2>
    ADVENTURE & OUTDOOR EXPERIENCES IN ALULA
</h2>
<p>Experience some of AlUla's best rock formations on this 4x4 sightseeing day trip through the Sharaan Nature Reserve. Sit back and relax in the comfort of an air-conditioned vehicle as our local AlUla guide takes you along your choice of a private or group safari.
    </p>
<br>
<h2>ABSEIL</h2>
<p>Circolo is an authentic Italian restaurant located in the beautiful AlJadidah District, bustling with art and activities. Nestled on the edge of the Oasis, enjoy the gorgeous and peaceful scenery of the valley with the mountains in the background.</p>

{% endblock leftContent %}


{% block fristImageContent %}
<h5>ABSEIL</h5>
<p>Experience the thrilling adventure of abseiling down AlUla’s magnificent mountain landscapes. Feel the adrenaline rush as you descend downward and embark on this outdoor journey of a lifetime.</p>
{% endblock fristImageContent %}


{% block fristImage %}
{% static "images/Alula1.jpg" %}
{% endblock fristImage %}

{% block SecondImageContent %}
<h5>ACACIA TRAIL</h5>
<p>Discover nature's treasure trove as you wander 6km through the Acacia Trail that lies within the expansive Sharaan Nature Reserve. Explore sprawling desert dunes and sandstone mountains, pass through rocky cracks and contemplate the historical inscriptions from ancient civilisations on this four-hour tour.</p>
{% endblock SecondImageContent %}

{% block secondImage %}
{% static "images/Alula2.jpg" %}
{% endblock secondImage %}

{% block ThirdImageContent %}
<h5> ADVENTURE TRAIL HIKE</h5>
<p>Explore some of AlUla’s finest natural wonders and fascinating heritage on this fabulous 8 km adventure walk. The trail navigates a variety of diverse terrains, passing a wealth of ancient inscriptions and native wildlife.</p>
{% endblock ThirdImageContent %}

{% block ThirdImage %}
{% static "images/Alula3.jpg" %}
{% endblock ThirdImage %}

{% block cityname %}
AlUla
{% endblock cityname %}



{% block pic1 %}
{% static "images/Alula4.jpg" %}
{% endblock pic1 %}

{% block pic1a %}
{% static "images/Alula4.jpg" %}
{% endblock pic1a %}


{% block pic2 %}
{% static "images/Alula5.jpg" %}
{% endblock pic2 %}

{% block pic2a %}
{% static "images/Alula5.jpg" %}
{% endblock pic2a %}


{% block pic3 %}
{% static "images/Alula6.jpg" %}
{% endblock pic3 %}


{% block pic3a %}
{% static "images/Alula6.jpg" %}
{% endblock pic3a %}



{% block map %}{% static "images/sa_Alula.svg" %}{% endblock %}


{% block Youtube %}
<iframe width="874" height="372" src="https://www.youtube.com/embed/mdwzQJP2rPA" title="Drone Show | AL ULA 2021 | Franchise Freedom" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock Youtube %}