{% extends 'tourism_app\home.html' %}

{% load static %}

{% block title %} riyadh {% endblock %}
{% block video %}
{% static 'videos/riyadh.mp4' %}
{% endblock %}

{% block videoContent %}
<h2 style="background-color: rgb(57, 57, 44);">riyadh <br> city</h2>
{% endblock videoContent %}

{% block city3 %}style="background-color: rgb(104, 64, 211); color: aliceblue;"{% endblock  %}
{% block home %}{% endblock home %}



{% block leftContent %}
<h2> Live the Modern Life to its Fullest
</h2>
<p>In the ever-growing and flourishing city of Riyadh, you will discover the birthplace of the Kingdom of Saudi Arabia, along with its historical treasures hidden in the old palaces that witnessed the founding of the kingdom.
 </p>
<br>
<h2>
When To Visit
</h2>
<p>Autumn starts in Riyadh as soon as the first day of September arrives. The beautiful weather encourages people to visit parks and go to chalets to enjoy the remaining days of the summer. However, the real fun in Riyadh does not start until the first day of October. 

</p>

{% endblock leftContent %}


{% block fristImageContent %}
<h5>Riyadh Season, beyond imagination</h5>
<p>Visitors of Riyadh Season will enjoy a wonderful time in 15 different entertainment destinations all on the land of the capital, Riyadh. There is a variety of international events, musical concerts, fancy restaurants and many more

</p>
{% endblock fristImageContent %}


{% block fristImage %}
{% static "images/riyadh1.webp" %}
{% endblock fristImage %}

{% block SecondImageContent %}
<h5>Addoho Neighborhood</h5>
<p>On the eastern side of Wadi Hanifa, southwest of the Palace of Government, Addoho Neighborhood has been standing tall for 200 years in the Saudi capital, Riyadh.</p>
{% endblock SecondImageContent %}

{% block secondImage %}
{% static "images/riyadh2.webp" %}
{% endblock secondImage %}

{% block ThirdImageContent %}
<h5>Boulevard Riyadh City, Endless enjoyment</h5>
<p>The largest entertainment area in the capital city of Riyadh, with lots of virtual reality game experiences as well as international and local stores, in addition to numerous cultural theatres.</p>
{% endblock ThirdImageContent %}

{% block ThirdImage %}
{% static "images/riyadh3.jpg" %}
{% endblock ThirdImage %}

{% block cityname %}
riyadh
{% endblock cityname %}



{% block pic1 %}
{% static "images/riyadh4.webp" %}
{% endblock pic1 %}

{% block pic1a %}
{% static "images/riyadh4.webp" %}
{% endblock pic1a %}


{% block pic2 %}
{% static "images/riyadh5.jpg" %}
{% endblock pic2 %}

{% block pic2a %}
{% static "images/riyadh5.jpg" %}
{% endblock pic2a %}


{% block pic3 %}
{% static "images/riyadh6.jpg" %}
{% endblock pic3 %}


{% block pic3a %}
{% static "images/riyadh6.jpg" %}
{% endblock pic3a %}



{% block map %}{% static "images/sa_riyadh_1.svg" %}{% endblock %}


{% block Youtube %}
<iframe width="661" height="372" src="https://www.youtube.com/embed/C5V63clIqBA" title="Riyadh skyline, Saudi Arabia 🇸🇦 by drone in [4k](ابراج الرياض)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock Youtube %}