{% extends 'Tourism/base.html' %}
<!-- https://www.youtube.com/embed/XrM5Y5ghEHQ?controls=0&autoplay=1&mute=1&loop=1&playsinline=1&playlist=XrM5Y5ghEHQ  -->
<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/XrM5Y5ghEHQ?controls=0&autoplay=1&mute=1&loop=1&playsinline=1&playlist=XrM5Y5ghEHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
{% block title %}Go travel{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/RMwD1aTNv68?controls=0&autoplay=1&mute=1&loop=1&playsinline=1&playlist=RMwD1aTNv68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
{% endblock %}

{% block link_base_2 %}https://www.experiencealula.com/en/summer-in-alula/alula-summer-holiday{% endblock %}
{% block img_base_2 %}/static/image/alula02.jpg{% endblock %}
{% block text_base_2 %}ALULA'S TOP 10{% endblock %}
{% block text_details_2 %}
Take a look at our top 10 experiences to inspire an unforgettable summer,
 from uncovering ancient history or flying on AlUla's Giant Swing to hiking through breathtaking canyons and gazing up
 at a never-ending sea of stars. AlUla is your perfect summer getaway.
 {% endblock %}

{% block link_base_1 %}https://www.experiencealula.com/en/discover-alula/about-alula{% endblock %}
{% block img_base_1 %}/static/image/alula01.jpg{% endblock %}
{% block text_base_1 %}ABOUT ALULA{% endblock %}
{% block text_details_1 %}We invite you to come journey through a living museum of preserved tombs, sandstone outcrops, historic dwellings and monuments, both natural and human-made, that hold 200,000 years of largely unexplored human history. The Kingdom of Saudi Arabia has long been a crossroads of ancient civilisations — a place of deep history, but one that is constantly evolving. AlUla is an extraordinary example of this and you can soon help write the next pages of its history.{% endblock %}

{% block link_base_3 %}https://www.experiencealula.com/en/discover-alula/arts-culture{% endblock %}
{% block img_base_3 %}/static/image/alula03.jpg{% endblock %}
{% block text_base_3 %}ARTS & CULTURE{% endblock %}
{% block text_details_3 %}Everywhere you look in AlUla, inspiration can be found – in its wind-sculpted red-rock, in its soothing-green palms, and in the startling contrast of bright blue sky against shimmering golden desert. From contemporary artists creating large-scale installations to locals studying traditional handicrafts, the spirit of the arts lives in every corner of this valley.{% endblock %}

{% block link_base_4 %}https://www.experiencealula.com/en/discover-alula/nature-outdoors/jabal-alfil{% endblock %}
{% block img_base_4 %}/static/image/alula04.jpg{% endblock %}
{% block text_base_4 %}JABAL ALFIL{% endblock %}
{% block text_details_4 %}Set among dramatic desert landscape and soaring 52 metres into the sky, Elephant Rock is AlUla’s most iconic geological marvel. The instantly recognisable form, with its distinctive trunk and body, was shaped wind and water erosion over the course of millions of years.{% endblock %}

{% block img_bar_1 %}/static/image/alula1.jpg{% endblock %}
{% block img_bar_2 %}/static/image/alula2.jpg{% endblock %}
{% block img_bar_3 %}/static/image/alula3.jpg{% endblock %}
{% block img_bar_4 %}/static/image/alula4.jpg{% endblock %}
{% block img_bar_5 %}/static/image/alula5.jpg{% endblock %}
{% block img_bar_6 %}/static/image/alula6.jpg{% endblock %}
{% block img_bar_7 %}/static/image/alula7.jpg{% endblock %}
{% block img_bar_8 %}/static/image/alula8.jpg{% endblock %}
{% block img_bar_9 %}/static/image/alula9.jpg{% endblock %} 