{% extends 'Tourism/base.html' %}

{% block title %}Go travel{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/JjjZrwK8Qok?controls=0&autoplay=1&mute=1&loop=1&playsinline=1&playlist=JjjZrwK8Qok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
{% endblock %}

{% block link_base_1 %}https://www.visitsaudi.com/en/see-do/destinations/dammam{% endblock %}
{% block img_base_1 %}/static/image/dammam01.jpg{% endblock %}
{% block text_base_1 %}About Dammam{% endblock %}
{% block text_details_1 %}Boasting endless views of the tranquil Arabian Gulf, Dammam is a modern metropolis that thrives on its coastal location. Although it is known for its lush green parks, airy waterfronts and sandy beaches, it is highly enjoyable in the winter, too, with daytime temperatures averaging in the low 20s Celsius during the day and around 10 degrees at night. The region also has a growing reputation as an arts, sports and entertainment destination.{% endblock %}

{% block link_base_2 %}https://www.tripadvisor.com/Attraction_Review-g298545-d4355080-Reviews-Half_Moon_Beach-Al_Khobar_Eastern_Province.html{% endblock %}
{% block img_base_2 %}/static/image/dammam02.jpg{% endblock %}
{% block text_base_2 %}Half Moon Bay{% endblock %}
{% block text_details_2 %}A short drive south from Dammam, Half Moon Bay was a stop for many of the Arab traders from the Arabian Gulf area. It has become a top draw for recreation thanks to its family-friendly setup: The entrances to the cove are very shallow and tranquil, and the average water depth reaches about 7 meters, so it’s an ideal location to learn how to scuba dive, or just dip your toes on a warm winter day.{% endblock %}

{% block link_base_3 %}https://www.visitsaudi.com/en/see/highlights/King-Abdulaziz-Center-for-World-Culture{% endblock %}
{% block img_base_3 %}/static/image/dammam03.jpg{% endblock %}
{% block text_base_3 %}Saudi Arabia’s cultural hub{% endblock %}
{% block text_details_3 %}The iconic monolithic design of the King Abdulaziz Center for World Culture, known as Ithra, has become a symbol of Saudi’s cultural renaissance. The sprawling building houses a theater, library, cinema, galleries and museum, alongside a wealth of interactive activities for children. The Ithra Journey Tour, a 30-minute guided walk, offers an ideal overview of the complex.{% endblock %}

{% block link_base_4 %}https://www.tripadvisor.com/ShowUserReviews-g298545-d319508-r748539580-Corniche-Al_Khobar_Eastern_Province.html{% endblock %}
{% block img_base_4 %}/static/image/dammam04.jpg{% endblock %}
{% block text_base_4 %}Al Khobar waterfront{% endblock %}
{% block text_details_4 %}Dancing fountains and landscaped gardens make this seafront stretch a family favorite, where kids can play in the park as adults take Instagram-worthy snaps of the historic water tower and remarkable King Fahd Causeway. For a bite among the sights, discover a range of dining options on the new Ajdan Walk south of the new corniche, or immerse yourself in Al Khobar’s café culture at one of its dozens of waterfront coffee shops. Consider catching the sunset on a private boat trip.{% endblock %}

{% block img_bar_1 %}/static/image/dammam02.jpg{% endblock %}
{% block img_bar_2 %}/static/image/dammam03.jpg{% endblock %}
{% block img_bar_3 %}/static/image/dammam04.jpg{% endblock %}
{% block img_bar_4 %}/static/image/dammam02.jpg{% endblock %}
{% block img_bar_5 %}/static/image/dammam03.jpg{% endblock %}
{% block img_bar_6 %}/static/image/dammam04.jpg{% endblock %}
{% block img_bar_7 %}/static/image/dammam02.jpg{% endblock %}
{% block img_bar_8 %}/static/image/dammam03.jpg{% endblock %}
{% block img_bar_9 %}/static/image/dammam04.jpg{% endblock %}