{% extends 'Tourism/basehome.html' %}

{% block title %}Go travel{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/WBotvcJgCD8?controls=0&autoplay=1&mute=1&loop=1&playsinline=1&playlist=WBotvcJgCD8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
{% endblock %}


{% block img_bar_1 %}/static/image/home01.jpg{% endblock %}
{% block img_bar_2 %}/static/image/home02.jpg{% endblock %}
{% block img_bar_3 %}/static/image/home03.jpg{% endblock %}
{% block img_bar_4 %}/static/image/home04.jpg{% endblock %}
{% block img_bar_5 %}/static/image/home05.jpg{% endblock %}
{% block img_bar_6 %}/static/image/home06.jpg{% endblock %}
{% block img_bar_7 %}/static/image/home07.jpg{% endblock %}
{% block img_bar_8 %}/static/image/home01.jpg{% endblock %}
{% block img_bar_9 %}/static/image/home02.jpg{% endblock %}