{% extends 'Tourism/base.html' %}

{% block title %}Go travel{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/arx55nYuSCg?controls=0&autoplay=1&mute=1&loop=1&playsinline=1&playlist=arx55nYuSCg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
{% endblock %}

{% block link_base_1 %}{% endblock %}
{% block img_base_1 %}/static/image/mekkah01.jpg{% endblock %}
{% block text_base_1 %}About Mekkah{% endblock %}
{% block text_details_1 %}In the past, it was called Bakkah, Umm Al-Qura, and Al-Balad Al-Amin, and its mountains witnessed the first revelation.  Its visitors stand in amazement in front of the honorable Kaaba, the qiblah of Muslims from all over the world, in the middle of Masjid Al-Haram with its majestic view, surrounded by thousands of worshipers all the time. Makkah welcomes millions of Muslims who go to Hajj or Umrah. {% endblock %}

{% block link_base_2 %}https://en.wikipedia.org/wiki/Mecca{% endblock %}
{% block img_base_2 %}/static/image/mekkah02.jpg{% endblock %}
{% block text_base_2 %}Bakkah{% endblock %}
{% block text_details_2 %}The Quran refers to the city as Bakkah in Surah Al Imran (3), verse 96: "Indeed the first House [of worship], established for mankind was that at Bakkah". This is said to have been the name of the city at the time of Abraham (Ibrahim in Islamic tradition) and it is also transliterated as Baca, Baka, Bakah, Bakka, Becca and Bekka, among others.[21][22][23] It was a name for the city in the ancient world.[24]{% endblock %}

{% block link_base_3 %}https://www.visitsaudi.com/en/see-do/destinations/makkah/abraj-albait-in-makkah{% endblock %}
{% block img_base_3 %}/static/image/mekkah03.jpg{% endblock %}
{% block text_base_3 %}Abraj Al-Bait{% endblock %}
{% block text_details_3 %}Abraj Al-Bait is a luxury hotel destination that receives more than 4 million pilgrims annually. The majestic skyscrapers stand steps away from the first qiblah for Muslims in the Grand Mosque in Makkah, including the tallest clock tower in the world. The towers consist of 76 floors, including 7 luxury five-star hotels, offering a distinctive hospitality experience, with vibrant spiritual views. They include a group of restaurants that serve the best local and international flavors.{% endblock %}

{% block link_base_4 %}https://www.visitsaudi.com/en/see-do/destinations/makkah/masjid-al-ji-ranah-in-makkah{% endblock %}
{% block img_base_4 %}/static/image/mekkah04.jpg{% endblock %}
{% block text_base_4 %}Masjid Al-Ji'ranah{% endblock %}
{% block text_details_4 %}Mosques in Makkah receive special attention, especially those associated with the life of the Prophet Mohammad (PBUH). Among these mosques is Masjid Al- Ji'ranah, located in the east of Makkah. It is characterized by modern architecture that preserves heritage details, which take you back to the time of its construction. The area of Al Ji'ranah is 430 square meters and can accommodate about 1,000 people. Muslims can visit Al- Ji'ranah to pray at any time{% endblock %}

{% block img_bar_1 %}/static/image/mekkah01.jpg{% endblock %}
{% block img_bar_2 %}/static/image/mekkah02.jpg{% endblock %}
{% block img_bar_3 %}/static/image/mekkah03.jpg{% endblock %}
{% block img_bar_4 %}/static/image/mekkah04.jpg{% endblock %}
{% block img_bar_5 %}/static/image/mekkah01.jpg{% endblock %}
{% block img_bar_6 %}/static/image/mekkah02.jpg{% endblock %}
{% block img_bar_7 %}/static/image/mekkah03.jpg{% endblock %}
{% block img_bar_8 %}/static/image/mekkah04.jpg{% endblock %}
{% block img_bar_9 %}/static/image/mekkah01.jpg{% endblock %}