{% extends 'Tourism/base.html' %}

{% block title %}Go travel{% endblock %}
{% block video %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/OiyAzP9PotM?controls=0&autoplay=1&mute=1&loop=1&playsinline=1&playlist=OiyAzP9PotM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>
{% endblock %}

{% block link_base_1 %}https://www.neom.com/en-us/about{% endblock %}
{% block img_base_1 %}/static/image/neom01.jpg{% endblock %}
{% block text_base_1 %}About Neom{% endblock %}
{% block text_details_1 %}The name NEOM is derived from two words. Envisioned by His Royal Highness Mohammed bin Salman, Crown Prince and Chairman of the NEOM Company Board of Directors, the first three letters come from the Ancient Greek prefix neo – meaning 'new'. The 'M' is the first from 'Mustaqbal', an Arabic word meaning 'future'. The M is also the first letter of the Crown Prince, Mohammed bin Salman.{% endblock %}

{% block link_base_2 %}https://www.neom.com/en-us/regions/theline{% endblock %}
{% block img_base_2 %}/static/image/neom02.jpg{% endblock %}
{% block text_base_2 %}THE LINE{% endblock %}
{% block text_details_2 %}THE LINE will tackle the challenges facing humanity in urban life today and will shine a light on alternative ways to live. We cannot ignore the livability and environmental crises facing our world’s cities, and NEOM is at the forefront of delivering new and imaginative solutions to address these issues. NEOM is leading a team of the brightest minds in architecture, engineering and construction to make the idea of building upwards a reality.{% endblock %}

{% block link_base_3 %}https://www.neom.com/en-us/regions/sindalah{% endblock %}
{% block img_base_3 %}/static/image/neom04.jpg{% endblock %}
{% block text_base_3 %}SINDALAH{% endblock %}
{% block text_details_3 %}Uncharted waters await at Sindalah, a spectacular gateway for the world’s yachting community and the first region of NEOM that will be brought to life.{% endblock %}

{% block link_base_4 %}https://www.neom.com/en-us/regions/oxagon{% endblock %}
{% block img_base_4 %}/static/image/neom04.jpg{% endblock %}
{% block text_base_4 %}OXAGON{% endblock %}
{% block text_details_4 %}McLaren and NEOM will lead the electric racing charge through Formula E and Extreme E. Being a founding tenant at the Oxagon Research and Innovation Campus, McLaren will also help to develop the talent of the future; bringing new tech, products and leaders to the world.{% endblock %}

{% block img_bar_1 %}/static/image/neom01.jpg{% endblock %}
{% block img_bar_2 %}/static/image/neom02.jpg{% endblock %}
{% block img_bar_3 %}/static/image/neom03.jpg{% endblock %}
{% block img_bar_4 %}/static/image/neom04.jpg{% endblock %}
{% block img_bar_5 %}/static/image/neom01.jpg{% endblock %}
{% block img_bar_6 %}/static/image/neom02.jpg{% endblock %}
{% block img_bar_7 %}/static/image/neom03.jpg{% endblock %}
{% block img_bar_8 %}/static/image/neom04.jpg{% endblock %}
{% block img_bar_9 %}/static/image/neom01.jpg{% endblock %}