{extends 'tourismApp/home.html'}
    {%block content%}
    <div>
        <img src=https://www.sayidaty.net/sites/default/files/imce/user54794/3_101.jpg/>
        <h1 class="title">>The translation of (العلا هو عروس الجبال) to English is **AlUla is the bride of the mountains**. It is a nickname that reflects the beauty and importance of this city in northwestern Saudi Arabia.</h1>>
        <p> summary of AlUla is:

            AlUla is a city located in the northwest of the Kingdom of Saudi Arabia, and administratively belongs to the Madinah region1.
            AlUla is one of the oldest cities in the Arabian Peninsula, and contains ancient monuments dating back to civilizations such as the Nabateans, Lihyanites, Dadanites, Nabataeans and Romans2.
            AlUla is famous for being the bride of the mountains and the capital of history and heritage2, for its beautiful mountainous scenery and its richness in archaeological and heritage sites1.
            AlUla includes the first World Heritage Site of UNESCO in the Kingdom of Saudi Arabia, which is Madain Saleh, which was the capital of the Nabateans after Petra3.
            AlUla witnesses modern development projects such as Maraya Hall, Sharaan Hotel and AlUla Museum, and attracts tourists from different parts of the world12.**
        </p>
        
        
    </div>
    
{% endblock %}