{extends 'tourismApp/home.html'}
    {%block content%}
    <div>
        <img src="https://i.ytimg.com/vi/EhSChK-VPkc/maxresdefault.jpg"/>
        <h1 class="title">>the trustworthy city(Mecca)</h1>>
        <p>The translation of (البلد الأمين) to English is **the trustworthy city**. It is one of the names of Mecca, the holiest city in Islam. It is mentioned in the Quran in Surah At-Tin, verse 3: {And [by] this trustworthy city.} [95:3]
</p>
        <p>Tourism in Saudi Arabia is diverse and includes the most attractive and active religious tourism due to the presence of the Two Holy Mosques, environmental tourism, business tourism, as well as shopping tourism which enjoys a significant position in terms of attraction. Saudi Arabia also has important historical and archaeological sites such as Madain Saleh, Al Diriyah area and historical Jeddah which are areas that have been included</p>
        
    </div>
    
{% endblock %}