
    {extends 'tourismApp/home.html'}
    {%block content%}
    <div>
        <img src="https://wallpaperaccess.com/full/1623874.jpg"/>
        <h1 class="title">>Explore Riyadh's landmarks</h1>>
        <p>Explore Riyadh's landmarks. Some of the most important landmarks in Riyadh include the historic Musmak Palace, the Faisaliah Tower in Riyadh, the King Abdulaziz Historical Center, the historic Al Murabba Palace, Riyadh Zoo, Wadi Namar waterfall in Riyadh and Snow City in Riyadh. You can find more information about these landmarks and others on this website ¹.

            المصدر: محادثة مع Bing، ٨‏/١١‏/١٤٤٤ هـ
            (1) قائExplore Riyadh's landmarks. Some of the most important landmarks in Riyadh include the historic Musmak Palace, the Faisaliah Tower in Riyadh, the King Abdulaziz Historical Center, the historic Al Murabba Palace, Riyadh Zoo, Wadi Namar waterfall in Riyadh and Snow City in Riyadh. You can find more information about these landmarks and others on this website ¹.

            المصدر: محادثة مع Bing، ٨‏/١١‏/١٤٤٤ هـ
            (1) قائمة من ابرز معالم مدينة الرياض | المرسال. https://www.almrsal.com/post/1222357.
            (2) أهم معالم مدينة الرياض - موضوع. https://mawdoo3.com/%D8%A3%D9%87%D9%85_%D9%85%D8%B9%D8%A7%D9%84%D9%85_%D9%85%D8%AF%D9%8A%D9%86%D8%A9_%D8%A7%D9%84%D8%B1%D9%8A%D8%A7%D8%B6.
            (3) أفضل 10 معالم سياحة رئيسية في الرياض - Tripadvisor. https://ar.tripadvisor.com/Attractions-g293995-Activities-c47-Riyadh_Riyadh_Province.html.</p>
        <p>Tourism in Saudi Arabia is diverse and includes the most attractive and active religious tourism due to the presence of the Two Holy Mosques, environmental tourism, business tourism, as well as shopping tourism which enjoys a significant position in terms of attraction. Saudi Arabia also has important historical and archaeological sites such as Madain Saleh, Al Diriyah area and historical Jeddah which are areas that have been included</p>
        <a href="{%url 'tourismApp:riyadh'%}" target="_blank">Click here to go to riyadh page</a>
    </div>
    
{% endblock %}