{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %} Saudi {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<!---المنيو الاول---->
    <div class="container-fluid bg-light pt-3 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <p><i class="fa fa-envelope mr-2"></i>info@mt.gov.sa</p>
                        <p class="text-body px-3">|</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+966118808844</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-primary px-3" href="https://twitter.com/Saudi_MT?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-primary px-3" href="https://www.linkedin.com/company/ministry-of-tourism-of-saudi-arabia/?originalSubdomain=sa">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-primary px-3" href="https://www.instagram.com/saudi.mt/?hl=ar">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-primary pl-3" href="https://www.youtube.com/@SaudiMT/about">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!---المنيو الثاني---->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                  <h1>
                      <img  style="width: 80px;" src="{%static 'img/logo1.png'%}" alt="Foo Co.: Where everyone can fizz the buzz" />
                  </h1>                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{% url 'main_app:home_page' %}" class="nav-item nav-link active">Home</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Cities</a>
                            <div class="dropdown-menu border-0 rounded-0 m-0">
                                <a href="{% url 'main_app:riyadh_page' %}" class="dropdown-item">Riyadh</a>
                                <a href="{% url 'main_app:alula_page' %}" class="dropdown-item">AlUla</a>
                                <a href="{% url 'main_app:jeddah_page' %}" class="dropdown-item">Jeddah</a>
                                <a href="{% url 'main_app:makkah_page' %}" class="dropdown-item">Makkah</a>
                            </div>
                        </div>
                        <a href="{% url 'main_app:contact_page' %}" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--- السلايدر--->
    <div class="container-fluid p-0">
        {% block content %}
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <video class="w-100" autoplay loop muted>
                <source src="img/video.mp4" type="video/mp4" />
              </video>
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                            <h1 class="display-3 text-white mb-md-4">Let's Discover The Saudi Arabia Together</h1>
                            <a href="https://mt.gov.sa/" class="btn btn-primary py-md-3 px-md-5 mt-2">Discover</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
        {% endblock%}
    </div>
<!--الموشن تكست--->
    <div class="container-fluid booking mt-5 pb-5">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 40px;">
                <div class="row align-items-center" style="min-height: 60px;">
                  <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img  style="width: 80px;" src="{%static 'img/flag.jpg'%}" alt="Foo Co.: Where everyone can fizz the buzz" />
      <h3 class="animate-charcter"> Tourism in Saudi Arabia </h3>
            <img  style="width: 80px;" src="{% static 'img/neom_logo.png'%}" alt="Foo Co.: Where everyone can fizz the buzz" />
  </div>
</div>
</div>
</div>
</div>
</div>
{% block content0 %}
<!---اللاينس---->
    <div id="light">
<div id="lineh1"></div>
<div id="lineh2"></div>
<div id="lineh3"></div>
<div id="lineh4"></div>
<div id="lineh5"></div>
</div>   
{% endblock %}    
  <!---محتوى خاص بالصفحه الاولى--->
    <div class="container-fluid py-5">
        {% block subcontent %}
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{%static 'img/about1.jpg'%}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                        <h1 class="mb-3">The best tourist destinations in Saudi Arabia</h1>
                        <p>This site aims to present a wide range of distinguished tourism offers and products to highlight the diversity of summer destinations in the Kingdom (mountain and sea) and the quality activities and events they include to attract visitors from home and abroad.</p>
                        <div class="row mb-4">
                            <div class="col-6">
                                <img class="img-fluid" src="{%static 'img/jeddah.jpg'%}" alt="">
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'img/riyadh.jpg'%}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock%}
    </div>
   <!---بوكسات المدن خاص بالصفحة الاولى--->
    {% block subcontent0 %}
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
                <h1>Explore Top Destination</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="{%static 'img/makkah.jpg'%}" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="{% url 'main_app:makkah_page' %}">
                            <h5 class="text-white">Makkah al-Mukarramah</h5>                      </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/riyadh1.jpg'%}" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="{% url 'main_app:riyadh_page' %}">
                            <h5 class="text-white">ٌRiyadh</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/jeddah1.jpg'%}" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="{% url 'main_app:jeddah_page' %}">
                            <h5 class="text-white">Jeddah</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="{%static 'img/alula.jpg' %}" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="{% url 'main_app:alula_page' %}">
                            <h5 class="text-white">Alula</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                     
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/hail.jpg'%}" alt="">
                        <a class="destination-overlay text-white text-decoration-none" href="{% url 'main_app:riyadh_page' %}">
                            <h5 class="text-white">Hail</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock%}
    </div>

    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">Saudi</span>Arabia</h1>
                </a>
                <p>A special site to learn about tourism in Saudi Arabia.</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-outline-primary btn-square mr-2" href="https://twitter.com/Saudi_MT?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="https://www.linkedin.com/company/ministry-of-tourism-of-saudi-arabia/?originalSubdomain=sa"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square mr-2" href="https://www.instagram.com/saudi.mt/?hl=ar"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-primary btn-square" href="https://www.youtube.com/@SaudiMT/about"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Our Services</h5>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white-50 mb-2" href="{% url 'main_app:home_page' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white-50 mb-2" href="{% url 'main_app:riyadh_page' %}"><i class="fa fa-angle-right mr-2"></i>Riyadh</a>
                    <a class="text-white-50 mb-2" href="{% url 'main_app:alula_page' %}"><i class="fa fa-angle-right mr-2"></i>AlUla</a>
                    <a class="text-white-50 mb-2" href="{% url 'main_app:jeddah_page' %}"><i class="fa fa-angle-right mr-2"></i>Jeddah</a>
                    <a class="text-white-50 mb-2" href="{% url 'main_app:makkah_page' %}"><i class="fa fa-angle-right mr-2"></i>Makkah</a>
                    <a class="text-white-50" href="{% url 'main_app:contact_page' %}"><i class="fa fa-angle-right mr-2"></i>Contact</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>403 Street, Riyadh, KSA</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+966118808844</p>
                <p><i class="fa fa-envelope mr-2"></i>info@mt.gov.sa</p>
                <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Conract</h6>
                <div class="w-100">
                    <div class="input-group">
                        <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-3">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- Footer End -->

    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
