{% extends 'main_app/index.html' %}
{% load static %}

{% block video %}
    <video autoplay loop muted plays-inline src="{% static 'video/sa.mp4' %}" class="video"></video>
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="left">Tourism in <br> Saudi Arabia</h1>
        <p class="left">The fourth tourist destination for the countries of the Organization of Islamic Cooperation.</p>
        <div class="links left">
            <a href="#city" class="free-img">Cities</a>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <section class="all-wrap">
        <div class="part-wrap">
            <div class="wrapper3">
                <img src="{% static 'img/background.jpg' %}">
                <div class="text-box3">
                    <h2>Saudi Arabia</h2>
                    <p>
                        Saudi Arabia is the second biggest tourist destination in the Middle East with over 16 million visiting in 2017. 
                        Although most tourism in Saudi Arabia still largely involves religious pilgrimages, there is growth in the leisure 
                        tourism sector. As the tourism sector has been largely boosted lately, the sector is expected to be the white oil 
                        for Saudi Arabia. This is proved as tourism sector is expected to generate $25 billion in 2019. Potential tourist 
                        areas include the Hijaz and Sarawat Mountains, Red Sea diving and a number of ancient ruins.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="city" class="cities">
        <div class="row">
            <div class="cities-col">
                <a href="{% url 'main_app:riyadh_city' %}"><img src="{% static 'img/riyadh.jpg' %}">
                    <div class="layer">
                        <h3>RIYADH</h3>
                    </div>
                </a>
            </div>
            <div class="cities-col">
                <a href="{% url 'main_app:abha_city' %}"><img src="{% static 'img/abha.jpg' %}">
                    <div class="layer">
                        <h3>ABHA</h3>
                    </div>
                </a>
            </div>
            <div class="cities-col">
                <a href="{% url 'main_app:mekkah_city' %}"><img src="{% static 'img/mekkah.jpg' %}">
                    <div class="layer">
                        <h3>MEKKAH</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="cities-col">
                <a href="{% url 'main_app:alula_city' %}"><img src="{% static 'img/alula.jpg' %}">
                    <div class="layer">
                        <h3>AlUla</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}