{% extends 'main_app/index.html' %}
{% load static %}

{% block video %}
    <video autoplay loop muted plays-inline src="{% static 'video/sa.mp4' %}" class="video"></video>
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="left">Tourism in <br> Saudi Arabia</h1>
        <p class="left">The fourth tourist destination for the countries of the Organization of Islamic Cooperation.</p>
        <div class="links left">
            <a href="#city" class="free-img">Cities</a>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <section id="city" class="cities">
        <div class="row">
            <div class="cities-col">
                <a href="{% url 'main_app:riyadh_city' %}"><img src="{% static 'img/riyadh.jpg' %}">
                    <div class="layer">
                        <h3>RIYADH</h3>
                    </div>
                </a>
            </div>
            <div class="cities-col">
                <a href="{% url 'main_app:abha_city' %}"><img src="{% static 'img/abha.jpg' %}">
                    <div class="layer">
                        <h3>ABHA</h3>
                    </div>
                </a>
            </div>
            <div class="cities-col">
                <a href="{% url 'main_app:mekkah_city' %}"><img src="{% static 'img/mekkah.jpg' %}">
                    <div class="layer">
                        <h3>MEKKAH</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="cities-col">
                <a href="{% url 'main_app:alula_city' %}"><img src="{% static 'img/alula.jpg' %}">
                    <div class="layer">
                        <h3>AlUla</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}