{% extends 'mainApp/base.html' %}

{% load static %}

{% block title %} About Us{%endblock%}

{%block welcom%}About  {%endblock%} {%block city%}Us{%endblock%}
{%block paragraph%}{%endblock%}

{%block gallery%}

<section id="about" class="about">
  <div class="container">

    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="{% static 'images/img.jpg' %}" class="img-fluid" alt="" style="margin-top:30%;
        margin-right: 50%;">
      </div>
      <div class="col-lg-5 content">
        <h2>Tourist in Saudi Arabia</h2>
        <p class="fst-italic py-3">
          is a demo website talked about how the tourism increased in the last years in Saudi Arabia.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Riyadh, KSA</span></li>
            </ul>
          </div>
         
        </div>
        <p class="py-3">
          Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
          Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
        </p>
        <p class="m-0">
          Recusandae est praesentium consequatur eos voluptatem. Vitae dolores aliquam itaque odio nihil. Neque ut neque ut quae voluptas. Maxime corporis aut ut ipsum consequatur. Repudiandae sunt sequi minus qui et. Doloribus molestiae officiis.
          Soluta eligendi fugiat omnis enim. Numquam alias sint possimus eveniet ad. Ratione in earum eum magni totam.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

{%endblock%}