{% extends 'mainApp/base.html' %}

{% load static %}

{% block title %} AlUla {%endblock%}

{%block welcom%}Visit {%endblock%} {%block city%} AlUla {%endblock%}

{%block paragraph%}We invite you to come journey through a living museum of preserved tombs, sandstone outcrops, historic dwellings and monuments, both natural and human-made, that hold 200,000 years of largely unexplored human history. The Kingdom of Saudi Arabia has long been a crossroads of ancient civilisations — a place of deep history, but one that is constantly evolving. AlUla is an extraordinary example of this and you can soon help write the next pages of its history.<br><br><br><br>{%endblock%}

{%block gallery%}
    <div
    id="carouselBasicExample"
    class="carousel slide carousel-fade"
    data-mdb-ride="carousel"
    >
    <!-- Indicators -->
    <div class="carousel-indicators">
    <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
    ></button>
    <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="1"
        aria-label="Slide 2"
    ></button>
    <button
        type="button"
        data-mdb-target="#carouselBasicExample"
        data-mdb-slide-to="2"
        aria-label="Slide 3"
    ></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
        <img
        src="{% static 'images/u1.jpg' %}"
        class="d-block w-100"
        alt="Sunset Over the City"
        />
        <div class="carousel-caption d-none d-md-block">
        <h5>Madain Saleh</h5>
        <p>
            'Cities of Salih', is an archaeological site located in the area of Al-'Ula 
        </p>
        </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img
        src="{% static 'images/u2.jpg'%}"
        class="d-block w-100"
        alt="Canyon at Nigh"
        />
        <div class="carousel-caption d-none d-md-block">
        <h5>Elephant Rock</h5>
        <p>
            TElephant Rock is AlUla's most iconic natural rock formation. 
        </p>
        </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
        <img
        src="{% static 'images/u3.jpg'%}"
        class="d-block w-100"
        alt="Cliff Above a Stormy Sea"
        />
        <div class="carousel-caption d-none d-md-block">
        <h5>Maraya concerts Hall</h5>
        <p>
            Check out our past concerts and events at Maraya.
        </p>
        </div>
    </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="prev"
    >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="next"
    >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
    </div>
    <!-- Carousel wrapper -->
{%endblock%}