{% extends 'tourism/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block backgoundImage %}/static/images/bisha.webp {% endblock %}
<!--  -->
{% block content %}
<div class="cont">
  <h1>What is Bisha?</h1>
  <p class="text bisha-text">
    Bisha is characterized by its rugged landscape and dramatic mountain
    scenery, which attracts tourists and outdoor enthusiasts. The city is also
    home to a number of historical and cultural attractions, including ancient
    ruins, traditional markets, and museums.
  </p>
</div>
{% endblock %}
