{% extends 'tourism/base.html' %}
<!--  -->
{% load embed_video_tags %}
<!--  -->
{% load static %}
<!--  -->
{% block backgoundImage%}/static/images/img1.jpg {% endblock %}
<!--  -->
{% block content %}
<div class="cont">
  <h1>Explore Saudi</h1>
  <p class="text home-text">
    The country offers a unique blend of natural, cultural, and historical
    attractions. Some of the most popular destinations include the ancient city
    of Mada'in Saleh, the Red Sea coast, and the towering sand dunes.
  </p>
</div>
{% endblock %}
<!--  -->
<!-- img1 -->
{% block img_1%}{% static 'images/img_1.jpg'%}{%endblock%}
<!-- img2 -->
{% block img_2%}{% static 'images/img0.jpg'%}{%endblock%}
<!-- img3 -->
{% block img_3%}{% static 'images/img1.jpg'%}{%endblock%} {%block video%}
<h1 class="text-vid">Videos</h1>
<div class="blockvideo">
  {% for vid in videos %}
  <div class="videos-cont">
    <!--  -->
    {% video vid.video 'small'%}
  </div>
  <!--  -->
  {%endfor%}
</div>
<!--  -->
{%endblock%}
