{% extends 'tourism/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block backgoundImage %}/static/images/madinah.jpg {% endblock %}
<!--  -->
{% block content %}
<div class="cont cont_madinah">
  <p class="text madinah-text">
    Medinah is a city in the Hejaz region of Saudi Arabia. It is located
    approximately 420 kilometers north of the city of Mecca and is considered
    the second holiest city in Islam after Mecca. The city is also known as
    Medina or Madinah, and its full name is Al-Madinah Al-Munawwarah, which
    means "the enlightened city" or "the radiant city."
  </p>
</div>
{% endblock %}
