{% extends 'tourism/base.html' %}
<!--  -->
{% load embed_video_tags %}
<!--  -->
{% load static %}
<!-- title -->
{% block title%} Madinah {%endblock%}
<!-- backgoundImage -->
{% block backgoundImage %}/static/images/madinah.jpg {% endblock %}
<!--  -->
{% block content %}
<div class="cont cont_madinah">
  <p class="text madinah-text">
    Medinah is a city in the Hejaz region of Saudi Arabia. It is located
    approximately 420 kilometers north of the city of Mecca and is considered
    the second holiest city in Islam after Mecca. The city is also known as
    Medina or Madinah, and its full name is Al-Madinah Al-Munawwarah, which
    means "the enlightened city" or "the radiant city."
  </p>
</div>
{% endblock %}
<!-- img1 -->
{% block img_1%}{% static 'images/imgm1.jpg'%}{%endblock%}
<!-- img2 -->
{% block img_2%}{% static 'images/imgm2.jpg'%}{%endblock%}
<!-- img3 -->
{% block img_3%}{% static 'images/imgm3.jpg'%}{%endblock%}
<!--  -->
{%block video%}
<h1 class="text-vid">Videos</h1>
<div class="blockvideo">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/oa8Q9EuAv_w"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <!-- {% for vid in videos %}
  <div class="videos-cont">
    
    {% video vid.video 'small'%}
  </div>
  
  {%endfor%} -->
</div>
<!--  -->
{%endblock%}
