{% extends 'tourism/base.html' %}
<!--  -->
{% load embed_video_tags %}
<!--  -->
{% load static %}
<!--  -->
{% block backgoundImage %}/static/images/makkah.jpg {% endblock %}
<!--  -->
{% block content%}

<div class="cont con_makkah">
  <p class="text makkah-text">
    Makkah, also spelled Mecca, is a city in the western region of Saudi Arabia.
    It is considered the holiest city in Islam because it is the birthplace of
    the Prophet Muhammad and the site of the Kaaba, which Muslims face during
    their daily prayers.
  </p>
</div>
{% endblock %}
<!-- img1 -->
{% block img_1%}{% static 'images/imgmk1.jpg'%}{%endblock%}
<!-- img2 -->
{% block img_2%}{% static 'images/imgmk2.jpg'%}{%endblock%}
<!-- img3 -->
{% block img_3%}{% static 'images/imgmk3.jpg'%}{%endblock%}
<!--  -->
{%block video%}
<h1 class="text-vid">Videos</h1>
<div class="blockvideo">
  {% for vid in videos %}
  <div class="videos-cont">
    <!--  -->
    {% video vid.video 'small'%}
  </div>
  <!--  -->
  {%endfor%}
</div>
<!--  -->
{%endblock%}
