{% extends 'tourism/base.html' %}
<!--  -->
{% load embed_video_tags %}

<!--  -->
{% load static %}
<!-- title -->
{% block title%} Riyadh {%endblock%}
<!-- backgoundImage -->
{% block backgoundImage%}/static/images/riyadh.jpg {% endblock %}
<!--  -->
{% block content %}
<div class="cont cont_riyadh">
  <p class="text riyadh-text">
    Riyadh is the capital city of Saudi Arabia, located in the central region of
    the country. With a population of over 7 million people, it is the largest
    city in the Kingdom and one of the fastest-growing cities in the world.
  </p>
</div>
{% endblock %}
<!-- img1 -->
{% block img_1%}{% static 'images/imgr1.jpg'%}{%endblock%}
<!-- img2 -->
{% block img_2%}{% static 'images/imgr2.jpg'%}{%endblock%}
<!-- img3 -->
{% block img_3%}{% static 'images/imgr3.jpg'%}{%endblock%}
<!--  -->
{%block video%}
<h1 class="text-vid">Videos</h1>
<div class="blockvideo">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/jwe17O5Yd1M"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <!-- {% for vid in videos %}
  <div class="videos-cont">
  
    {% video vid.video 'small'%}
  </div>
  
  {%endfor%} 
--></div>
<!--  -->
{%endblock%}
