.hero{
    display: flex;
    object-fit:cover;
    height: 90vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    object-fit: contain;
}
.nav_bar{
    display: flex;
    background-color: white;
    border-radius: 40px;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 20px;
    padding: 40px 5px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 20px;
}
.nav_bar a:link, .nav_bar a:visited{
    text-decoration: none;
    color: black;
}
.main_div{
    position: relative;
    background-attachment: fixed;
    
}
.welcome{
    display: flex;
    color: white;
    text-align: center;
    font-size: 60px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
}
.tour{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
.carousel {
    display: flex;
    object-fit:contain;
    height: 90vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    object-fit: contain;
}
  .carousel-inner > .item > img {
    display: flex;
    object-fit:contain;
    height: 90vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    object-fit: contain; 
}
.bottom_page{
    display: flex;
    background-color: #3e363f;
    justify-content: space-evenly;
    flex-direction: row;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
}
.bottom_page a:link, .bottom_page a:visited{
    text-decoration: none;
    color: white;
}
.ag{
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    height: 100px;
    width: 100px;
}
.videos{
    margin: 60px;
}
.pictures{
    margin: 20px;
}
.home_pictures{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    column-gap: 10px;
    row-gap: 10px;
}