*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.nav-bar{
    width: 85%;
    margin: auto;
    padding: 35px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

.nav-bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #00b6d6;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.nav-bar ul li:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;  
    
}
.content p{
    margin: 5px auto;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.vid{
    background-color: rgba(0, 182, 214,.15);
    border-radius: 20px;
    margin: auto;
    width: fit-content;
    padding: 0px 13px 10px 13px;
    backdrop-filter: blur(10px);
}
.vid p {
    padding: 15px 0 10px 0;
    color: rgba(255, 255, 255, 0.55);
    
}
.video{
    border-radius: 20px;
}
.btn1::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn1:hover::before{
    height: 180%;
}